@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 22%,
    rgba(42, 38, 95, 1) 72%,
    rgba(255, 255, 255, 1) 100%
  );
  background-size: 300% 300%;
  animation: animate-background 5s ease infinite alternate;
}
@keyframes animate-background {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 25% 100%;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media (max-width: 600px) {
  html {
    font-size: 60%;
  }
}
